<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
        <Rima_Order>
            <version>1.0.0</version>
        </Rima_Order>
    </modules>
    <global>
        <models>
            <order>
                <class>Rima_Order_Model</class>
                <resourceModel>order_resource</resourceModel>
            </order>
            <order_resource>
                <class>Rima_Order_Model_Resource</class>
                <entities>
                    <order>
                        <table>order</table>
                    </order>
                    <order_item>
                        <table>order_item</table>
                    </order_item>
                    <order_address>
                        <table>order_address</table>
                    </order_address>
                    <cart>
                        <table>cart</table>
                    </cart>
                    <cart_item>
                        <table>cart_item</table>
                    </cart_item>
                    <cart_address>
                        <table>cart_address</table>
                    </cart_address>
                    
                </entities>
            </order_resource>
        </models>
    	<helpers>
    		<order>
    			<class>Rima_Order_Helper</class>
    		</order>
    	</helpers>
    	<blocks>
    		<order>
    			<class>Rima_Order_Block</class>
    		</order>
    	</blocks>
        <resources>
            <order_setup>
                <setup>
                    <module>Rima_Order</module>
                </setup>
            </order_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <order>
                <use>admin</use>
                <args>
                    <module>Rima_Order</module>
                    <frontName>order</frontName>
                </args>
            </order>
        </routers>
    </admin>
    <adminhtml>
	    <menu>
	         <order translate="title" module="order">
	            <title>Order System</title>
	            <sort_order>200</sort_order>
	            <children>
	                <order translate="title" module="order">
	                    <title>Orders</title>
	                    <action>order/adminhtml_order</action>
	                    <sort_order>10</sort_order>
	                </order>
	            </children>
	         </order>
	    </menu>
	    <layout>
            <updates>
                <order>
                    <file>order.xml</file>
                </order>
            </updates>
        </layout>
    </adminhtml>
</config>