<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Rima_Practice>
            <version>1.0.0</version>
        </Rima_Practice>
    </modules>
    <!-- <frontend>
        <routers>
            <practice>
                <use>standard</use>
                <args>
                    <module>Rima_Practice</module>                    
                    <frontName>practice</frontName>
                </args>
            </practice>
        </routers>
    </frontend> -->
    <admin>
        <routers>
            <practice>
                <use>admin</use>
                <args>
                    <module>Rima_Practice</module>
                    <frontName>practice</frontName>
                </args>
            </practice>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <practice>
                    <file>practice.xml</file>
                </practice>
            </updates>
        </layout>
        <menu>
            <practice>
                <title>Practice</title>
                <sort_order>100</sort_order>
                <children>
                    <practice>
                        <title>Manage Practice</title>
                        <sort_order>1</sort_order>
                        <action>practice/adminhtml_practice</action>
                    </practice>
                </children>
            </practice>
        </menu>
    </adminhtml>
    <global>
        <models>
            <practice>
                <class>Rima_Practice_Model</class>
                <resourceModel>practice_resource</resourceModel>
            </practice>
            <practice_resource>
                <class>Rima_Practice_Model_Resource</class>
                <entities>
                    <practice>
                        <table>rima_practice</table>
                    </practice>
                </entities>
            </practice_resource>
        </models>
        <resources>
            <practice_setup>
                <setup>
                    <module>Rima_Practice</module>
                </setup>
            </practice_setup>
        </resources>
        <blocks>
            <practice>
                <class>Rima_Practice_Block</class>
            </practice>
        </blocks>
        <helpers>
            <practice>
                <class>Rima_Practice_Helper</class>
            </practice>
        </helpers>
    </global>
</config>