<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Rima_Sony>
            <version>1.0.0</version>
        </Rima_Sony>
    </modules>
    <admin>
        <routers>
            <sony>
                <use>admin</use>
                <args>
                    <module>Rima_Sony</module>
                    <frontName>sony</frontName>
                </args>
            </sony>
        </routers>
    </admin>
    <admin>
        <routers>
            <sony>
                <use>admin</use>
                <args>
                    <module>Rima_Sony</module>
                    <frontName>sony</frontName>
                </args>
            </sony>
        </routers>
    </admin> -->
    <adminhtml>
        <layout>
            <updates>
                <sony>
                    <file>sony.xml</file>
                </sony>
            </updates>
        </layout>
        <menu>
            <sony>
                <title>Sony</title>
                <sort_order>100</sort_order>
                <children>
                    <sony>
                        <title>Manage sony</title>
                        <sort_order>1</sort_order>
                        <action>sony/adminhtml_sony</action>
                    </sony>
                </children>
            </sony>
        </menu>
    </adminhtml>
    <global>
        <models>
            <sony>
                <class>Rima_Sony_Model</class>
                <resourceModel>sony_resource</resourceModel>
            </sony>
            <sony_resource>
                <class>Rima_Sony_Model_Resource</class>
                <entities>
                    <sony>
                        <table>rima_sony</table>
                    </sony>
                </entities>
            </sony_resource>
        </models>
        <resources>
            <sony_setup>
                <setup>
                    <module>Rima_Sony</module>
                </setup>
            </sony_setup>
        </resources>
        <blocks>
            <sony>
                <class>Rima_Sony_Block</class>
            </sony>
        </blocks>
        <helpers>
            <sony>
                <class>Rima_Sony_Helper</class>
            </sony>
        </helpers>
    </global>
</config>
